MONGODB_URI=<your-mongodb-uri>

OPENAI_API_KEY=<your-openai-api-key>
TAVILY_API_KEY=<your-tavily-api-key>
MEM0_API_KEY=<your-mem0-api-key>

REDIS_HOST=<redis-host>
REDIS_PORT=<redis-port>
REDIS_USER=<redis-username>
REDIS_PASS=<redis-password>

JWT_ALGORITHM=RS512
JWT_PRIVATE_KEY_PATH=./certs/private_key.pem
JWT_PUBLIC_KEY_PATH=./certs/public_key.pem

LANGSMITH_TRACING=true#only if wanting to trace prompts
LANGSMITH_ENDPOINT=https://eu.api.smith.langchain.com#needed only if working in eu
LANGSMITH_API_KEY=<your-langsmith-api-key>
LANGSMITH_PROJECT=<your-langsmith-project-name>

QDRANT_API_KEY=<your-qdrant-api>
QDRANT_URL=<your-qdrant-url>